* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  font-family: 'Source Serif Pro', serif;
  font-size: 62.5%;
}

body {
  color: #A54328;
  font-size: 1.6rem;
}

button {
  font-family: 'Source Serif 4';
  background-color: #A54328;

  color: white;

  border: 0;
}